/* IMPORTAÇÃO DE FONTE */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

/* PERSONALIZAÇÃO DO SCROLL */

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--bg2-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--second-color);
    border-radius: 5px;
}

html {
    scroll-behavior: smooth;
}

/* VARIÁVEIS DE CORES */

:root {
    --bg-color: #281646;
    --bg2-color: #190E2C;
    --second-color: #d8083c;
    --text-color: #fff;
}

/* BOTÃO WHATSAPP */

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 15px;
    right: 15px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    z-index: 100;
    transition: .1s;
    align-items: center;
}

.float:hover {
    border: 2px solid #eeee;

}

.my-float {
    margin-top: 16px;
}

/* PRE-LOADER */

.loader {
    position: fixed;
    z-index: 150;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader img {
    width: 250px;
}

.loader.hidden {
    animation: fadeOut 1.1s;
    animation-fill-mode: forwards;
}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

/* INÍCIO DA ESTILIZAÇÃO DA PÁGINA */

body {
    color: var(--text-color);
    background: #140925;
    max-width: 1920px;
}

#header.scroll {
    background: #281646;
    box-shadow: 0px 0px 12px rgba(5, 48, 14, 0.2);
}

header {
    top: 0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #190E2C;
    padding: 10px 105px 10px 76px;
    position: sticky;
    transition: all .5s ease-in-out;
    border-bottom: 1px solid #281646;
}

/* LOGOTIPO */

header figure .logo img {
    width: 90px;
}

/* MENU/BOTÃO VOLTAR */


.conta a {
    background: #d8083c;
    width: 120px;
    color: var(--text-color);
    border: 1px solid #d8083c;
    border-radius: 5px;
    text-transform: uppercase;
    padding: 14px 22px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    align-items: center;
    transition: .3s;
}

.conta a:hover {

    position: relative;
    overflow: hidden;
    transition: .2s;
}

.conta a:hover {
    background: #c70535;
    box-shadow: 0 0 10px #d8083c, 0 0 10px #a1193b, 0 0 20px #860626;

}

.conta span i {
    align-items: center;
    font-size: 15px;
    margin-left: 8px;
}

nav #icon {
    color: #eeee;
    font-size: 23px;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}


/* FAQ */

.faq-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 850px;
    margin: 0 auto;
    margin-top: 60px;
    padding: 20px 20px 50px 20px;
}

.faq-titulo {
    color: #eeee;
    font-size: 40px;
    padding: 10px 0px 50px 0px;
    margin-bottom: 20px;
}

.pergunta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #3e226b;
    margin-bottom: 16px;
    cursor: pointer;
}

.pergunta h3 {
    color: #eeee;
    font-size: 22px;
}

.pergunta i {
    color: #eeee;
    font-size: 15px;
    transition: all 0.5s ease;
}

.resposta {
    max-height: 0px;
    overflow: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
}

.resposta p {
    color: #eeeeeed0;
}

.ativar {
    max-height: 300px;
    opacity: 1;
}

.fechar i {
    transform: rotate(180deg);
}

/* RODAPÉ */

footer {
    background: #140925;
    padding: 50px 30px;
    border-top: 1px solid #281646;
    justify-content: center;
}

footer .rodape img {
    width: 150px;
}

footer .container_info {

    display: flex;
    list-style: none;
    font-size: 14px;
    text-align: left;
    justify-content: center;
}

footer .container_info .sobre {
    margin: 0 40px;
}

footer .container_info h3 {
    font-size: 19px;
    color: #eeee;
    margin-bottom: 10px;
}

footer .container_info ul li {
    margin: 10px 0;
}

footer .container_info ul li a {
    color: var(--text-color);
    font-weight: bold;
    opacity: 0.6;
    transition: .3s;
}

footer .container_info ul li a:hover {
    opacity: 1;
}

footer .container .social {
    text-align: center;
    padding-top: 20px;
}

footer .container .social a i {
    font-size: 20px;
    color: #c70535;
    border-radius: 5px;
    background: #190E2C;
    align-items: center;
    padding: 9px;
    display: inline-block;
    text-align: center;
    margin: 2px;
    transition: .3s;
}

footer .container .social a i:hover {
    color: #fff;
    background: #c70535;
}

footer .copyright {
    margin-top: 20px;
    text-align: center;
    font-size: 10px;
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 1px solid #281646;
    padding: 30px 0 0 0;
}

.oculto {
    display: none;
}

/* MOBILE MENU */
.menu-mobile {
    width: 100%;
    padding: 0.5rem;
    display: none;
}


.menu-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 0.9rem 0.9rem 0 0;
    background-color: #281646;
    font-family: "Inter";
}

.menu-mobile ul {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    gap: 0;
    flex-wrap: wrap;
    background-color: #281646;
}

.menu-mobile ul {
    list-style: none;
    display: flex;
}

.menu-mobile ul li a i {
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-wrap: nowrap;
    transition: all .3s ease;
    padding: 0.5rem;
}

.menu-mobile ul li a i:hover {
    color: #c70535;
}

.menu-mobile i {
    color: #eeee;
    font-size: 23px;
}

.menu_navegacao ul {
    display: flex;
}

.menu_navegacao a {
    color: var(--text-color);
    font-size: 13px;
    font-weight: 550;
    padding: 10px 25px;
    text-transform: uppercase;
    margin: 0 2px;
    transition: .3s;

}

.menu_navegacao a:hover {
    color: var(--second-color);
    border-bottom: 2px solid var(--second-color);
    font-size: 14px;
}

.icone-lado {
    font-size: 15px;
    margin-left: 5px;
}

@media (max-width: 750px) {

    .conta {
        display: none;
    }
    
    .logo {
        display: none;
    }
    .faq-container h3{
        font-size: 21px;
    }

    .menu-mobile {
        display: block;
    }

    /* Rodapé */

    footer {
        border-top: 1px solid #281646;
        justify-content: center;
        text-align: center;
    }

    footer .container_info {
        display: inline-block;
        text-align: center;
    }

    footer .container_info a:hover {
        color: #d8083c;
        text-decoration: underline;
    }

    footer .contato {
        padding-top: 15%;
    }

    footer .sobre {
        padding-top: 15%;
    }

    footer .duvida {
        padding-top: 15%;
    }

    footer .copyright {
        margin-top: 20px;
        text-align: center;
        font-size: 10px;
        opacity: 0.7;
        text-transform: uppercase;
        letter-spacing: 1px;
        border-top: 1px solid #281646;
        padding: 30px 0 0 0;
    }

}